<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>The Stray Army | About</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css"
      integrity="sha512-+oRH6u1nDGSm3hH8poU85YFIVTdSnS2f+texdPGrURaJh8hzmhMiZrQth6l56P4ZQmxeZzd2DqVEMqQoJ8J89A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"
      integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% comment %} <link
      rel="stylesheet"
      href="https://preview.colorlib.com/theme/dogger/fonts,_icomoon,_style.css+css,_bootstrap.min.css+css,_jquery-ui.css+css,_owl.carousel.min.css+css,_owl.theme.default.min.css+css,_owl.theme.default.min.css+css,_jquery.fancybox.min.css+css,_bootstrap-datepicker.css+fonts,_flaticon,_font,_flaticon.css+css,_aos.css+css,_style.css.pagespeed.cc.4S9WmG2oZq.css"
    /> {% endcomment %}
    {% comment %} <link
      rel="stylesheet"
      href="https://preview.colorlib.com/theme/dogger/fonts,_icomoon,_style.css+css,_bootstrap.min.css+css,_jquery-ui.css+css,_owl.carousel.min.css+css,_owl.theme.default.min.css+css,_owl.theme.default.min.css+css,_jquery.fancybox.min.css+css,_bootstrap-datepicker.css+fonts,_flaticon,_font,_flaticon.css+css,_aos.css+css,_style.css.pagespeed.cc.4S9WmG2oZq.css"
    /> {% endcomment %}
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
        <script src="https://cdn.tailwindcss.com"></script>

    {% comment %} <link rel="icon" type="image/x-icon" href="{% static 'home/images/favicon.ico' %}"> {% endcomment %}
<style>
  @media (min-width:1175px){
    .navbar-expand-lg .navbar-toggler {
    display: none;
}

  }
    @media (max-width:1175px){
    .navbar-expand-lg .navbar-toggler {
    display: inline-block;
}
  }

  @media (min-width: 1175px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
  }
    @media (max-width: 1175px){
.navbar-expand-lg .navbar-collapse {
    display: block !important;
    flex-basis: 100%;
}
  }
@media (min-width: 1175px){
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
}
@media (max-width: 1175px){
.navbar-expand-lg .navbar-nav {
    flex-direction: column;
}
}
@media (max-width: 1175px){
.collapse:not(.show) {
    display: none !important;
}
}
</style>
  </head>
  <body
    data-spy="scroll"
    data-target=".site-navbar-target"
    data-offset="300"
    id="home-section"
  >
    {% comment %}
    <div id="overlayer"></div>
    {% endcomment %} {% comment %}
    <div class="loader">
      {% endcomment %} {% comment %}
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      {% endcomment %} {% comment %}
    </div>
    {% endcomment %}
    <div class="site-wrap">
     
     
          {% comment %} <div class="col-12 d-none d-xl-block"> {% endcomment %}
      
    <div class="flex justify-center bg-black text-white ">
        <nav class="self-center w-full max-w-7xl  ">
            <div class="flex md:flex-row flex-col  justify-between items-center md:items-start">
                <h1 class="uppercase py-4 text-2xl font-sans font-bold px-10">eataries at IIT kgp</h1>
                <ul class="flex justify-center my-4  items-center text-sm md:text-[18px] font-bold  md:px-10">
                    <li
                        class="hover:underline  underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-2 md:px-5">
                        <a href="#">Login</a>
                    </li>
                    <li
                        class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-2 md:px-5">
                        <a href="#">Contact</a>
                    </li>
                    <li
                        class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-2 md:px-5">
                        <a href="#">Services</a>
                    </li>
                    <li
                        class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-2 md:px-5">
                        <a href="#">About</a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
         
         


      <section class="overflow-hidden bg-light" style:"min-height:500px">
        <div class="about-bg" style=`background: url({{ background.image.url }})`>
          <h1 style="text-align: center; padding: 20%; color: #faf5ea">
            About us
          </h1>
        </div>
      </section>

      <section class="site-section">
        <div class="container">
          <div class="row justify-content-center" >
            <div class="col-lg-6 text-center heading-section mb-5">
              {% comment %} <div class="paws">
                <span class="icon-paw"></span>
              </div> {% endcomment %}
              <h2 class="text-black mb-2">Restaurants in IITKGP</h2>
              <p data-aos="fade-up">
              Something about restaurants.
              </p>
            </div>
          </div>
          {% for item in items %}
          <div class="row hover-1-wrap mb-5">
            <div class="col-12">
              <div class="row">
                <div {% if forloop.counter|divisibleby:2 %} class="mb-4 col-lg-6 order-lg-2" data-aos="fade-right" {% else %} class="mb-4 col-lg-6" data-aos="fade-left" {% endif %}>
                  <a href="index.html#" class="hover-1">
                    <img
                      src="{{ item.image.url }}"
                      alt="Image"
                      height="400px"
                      width="550px"
                      data-pagespeed-url-hash="1693781069"
                    />
                  </a>
                </div>
                <div
                {% if forloop.counter|divisibleby:2 %}
                  class="col-lg-5 mr-auto align-self-center order-lg-1"
                  data-aos="fade-left"
                {% else %}
                  class="col-lg-5 mr-auto align-self-center"
                  data-aos="fade-right"
                {% endif %}
                >
                  <h2 class="text-black">{{ item.heading }}</h2>
                  <p class="mb-4">
                    {{ item.description }}
                  </p>
                  {% comment %} <p>
                    <a href="index.html#" class="btn btn-primary">Read More</a>
                  </p> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </section>

          
    </div>

    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'home/js/ease.js' %}"></script>
    <script src="{% static 'home/js/script_all.js' %}"></script>
    <script src="{% static 'home/js/util.js' %}"></script>
        <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  </body>
</html>
